<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" fill="clear" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-title>items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated showCancelButton="focus" spellcheck="true" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let item of cartService.searchedItems | async, let i = index" (click)="edit(item.id)">
      <img src="..\assets\img\{{item.pic}}" />
      <ion-card-header>
        <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
        <ion-card-title>{{item.name}}</ion-card-title>
            <ion-label color="secondary">
              <b>{{ item.price}} BHD</b>
            </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{item.info}}</ion-label>
        <div *ngIf="item.discount != 0">
          <br>
          <ion-label color="danger">Price after discount: {{(1-item.discount) * item.price}} BHD</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
