<ion-header>
  <ion-toolbar>
    <ion-title>Edit item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <!-- <ion-label>Type:</ion-label>
    <ion-input [(ngModel)]="type"></ion-input> -->
    <ion-select [(ngModel)]="type">
    <ion-select-option value="Bike">Bike</ion-select-option>
    <ion-select-option value="Saddle">Saddle</ion-select-option>
    <ion-select-option value="Tire">Tire</ion-select-option>
    <ion-select-option value="Accessories">Accessories</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Info:</ion-label>
    <ion-input [(ngModel)]="info"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Price:</ion-label>
    <ion-input [(ngModel)]="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Discount (0-1):</ion-label>
    <ion-input [(ngModel)]="discount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Pic:</ion-label>
    <ion-input [(ngModel)]="pic"></ion-input>
  </ion-item>
</ion-list>
<br>
<br>
  <div style="display:flex; justify-content:space-around;">
    <ion-button (click)="update()" *ngIf="cartService.id != null">
      <ion-icon name="create-outline"></ion-icon>
      &nbsp;  Update
    </ion-button>
    <ion-button (click)="delete()" *ngIf="cartService.id != null">
      <ion-icon name="trash-outline"></ion-icon>
      &nbsp;  Remove
    </ion-button>
    <ion-button (click)="add()"  *ngIf="cartService.id == null">
      <ion-icon name="create-outline"></ion-icon>
      &nbsp;  Add
    </ion-button>
  </div>
</ion-content>
