<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>self fixing tutorial page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
      <p>
        How to Install or Replace a Bicycle Saddle

        1- Unscrew the clamp bolts on the bottom of the saddle. <br>
        2- Lift and turn the top clamp to remove the saddle. <br>
        3- Clean the dirt and residue off the clamp with a damp paper towel. <br>
        4- Grease the bolts and new saddle rails with bike lube. <br>
        5- Set the saddle rails in the bottom clamp's channels. <br>
        6- Reposition the top clamp so it fits over the rails. <br>
        7- Tighten the clamp bolts to hold the saddle in position. <br>
      </p>
     </ion-slide>

      <ion-slide>Slides 2</ion-slide>

      <ion-slide>Slides 3</ion-slide>
   </ion-slides> -->
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="..\assets\img\InstallSaddle.jpg"/>
        <h4> How to Install or  Replace <br> a Bicycle Saddle</h4>
        <p>
        <b>1-</b> Unscrew the clamp bolts on the bottom of the saddle. <br>
        <b>2-</b> Lift and turn the top clamp to remove the saddle. <br>
        <b>3-</b> Clean the dirt and residue off the clamp with a damp paper towel. <br>
        <b>4-</b> Grease the bolts and new saddle rails with bike lube. <br>
        <b>5-</b> Set the saddle rails in the bottom clamp's channels. <br>
        <b>6-</b> Reposition the top clamp so it fits over the rails. <br>
        <b>7-</b> Tighten the clamp bolts to hold the saddle in position. <br>
        <b><a href="https://www.wikihow.com/Install-a-Bike-Saddle">Click here to check more details</a></b> <br>
        <b><a href="https://www.youtube.com/watch?v=UMipWkcQ3Go">Click here to check a video</a></b>
        </p>

      </div>
    </ion-slide>

    <ion-slide>
     
      <h4>What is Ionic?</h4>
      <p>
       
      </p>
    </ion-slide>

    <ion-slide>
      
      <h4>What is Appflow?</h4>
      <p>
       
      </p>
    </ion-slide>

    <ion-slide>
      
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>

  
</ion-content>
