<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title><ion-icon name="hammer-outline"></ion-icon> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-slides pager="true">
    <ion-slide>
      <img src="..\assets\img\welcome.jpg"/>
      <h4> Tutorials to self fix your bike</h4>
      <p>
        <b>1- How to Install or  Replace a Bicycle Saddle</b>  <br>
        <b>2- How to Adjust Bike Brakes</b>  <br>
        <b>3- How to Fix a Slipped Bicycle Chain</b>  <br>
        <b>4- How to Fix a Flat Bike Tire</b>  <br>
        </p>
      <ion-button fill="clear">Swipe  <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="..\assets\img\InstallSaddle.jpg"/>
        <h4> How to Install or  Replace <br> a Bicycle Saddle</h4>
        <p>
        <b>1-</b> Unscrew the clamp bolts on the bottom of the saddle. <br>
        <b>2-</b> Lift and turn the top clamp to remove the saddle. <br>
        <b>3-</b> Clean the dirt and residue off the clamp with a damp paper towel. <br>
        <b>4-</b> Grease the bolts and new saddle rails with bike lube. <br>
        <b>5-</b> Set the saddle rails in the bottom clamp's channels. <br>
        <b>6-</b> Reposition the top clamp so it fits over the rails. <br>
        <b>7-</b> Tighten the clamp bolts to hold the saddle in position. <br><br>
        <b><a href="https://www.wikihow.com/Install-a-Bike-Saddle">Click here to check more details</a></b> <br>
        <b><a href="https://www.youtube.com/watch?v=UMipWkcQ3Go">Click here to check a video</a></b>
        </p>

      </div>
    </ion-slide>

    <ion-slide>
     
      <div class="slide">
        <img src="..\assets\img\AdjustBrake.jpg"/>
        <h4> How to Adjust Bike Brakes </h4>
        <p>
        <b>1-</b> Test the tightness of your cables by pulling each brake lever. <br>
        <b>2-</b> Loosen the barrel adjusters for minor brake cable adjustments. <br>
        <b>3-</b> Unscrew the bolt holding the brake cable on the caliper. <br>
        <b>4-</b> Pull the brake cable outward to tighten it. <br>
        <b>5-</b> Tighten the bolt holding the brake cable on the caliper. <br>
        <b>6-</b> Tighten the barrel adjusters on the handlebars. <br><br>
        <b><a href="https://www.wikihow.com/Adjust-Bike-Brakes">Click here to check more details</a></b> <br>
        <b><a href="https://www.youtube.com/watch?v=OQsiceeCZ0M">Click here to check a video</a></b>
        </p>

      </div>
    </ion-slide>

    <ion-slide>
      
      <div class="slide">
        <img src="..\assets\img\fixchain.jpg"/>
        <h4> How to Fix a Slipped Bicycle Chain </h4>
        <p>
        <b>1-</b> Downshift bike into lowest front gear (using the left shifter). <br>
        <b>2-</b> Lift the chain and put it back on the chain ring. <br>
        <b>3-</b> Put the chain on the outer chain guide of the chain breaker. <br>
        <b>4-</b> Remove the chain breaker by backing up the drive pin. <br>
        <b>5-</b> To rejoin the chain, align the open ends of the chain. <br>
        <b>6-</b> Wiggle the link you just reattached. If it's too stiff, continue on to the next part. <br><br>
        <b><a href="https://www.ifixit.com/Guide/How+to+Fix+a+Slipped+Bicycle+Chain/37682">Click here to check more details</a></b> <br>
        <b><a href="https://www.youtube.com/watch?v=M-viV5DZ2mo">Click here to check a video</a></b>
        </p>

      </div>
    </ion-slide>

    <ion-slide>
      
      <div class="slide">
        <img src="..\assets\img\flattire.jpg"/>
        <h4> How to Fix a Flat Bike Tire </h4>
        <p>
        <b>1-</b> Release your brakes, then the wheel. <br>
        <b>2-</b> Deflate the tube completely and remove it by pressing on the bead <br> (edge) of the tire or using a tire lever so you can access the tube. <br>
        <b>3-</b> Inspect the wheel, tire and tube for the location and causes of tears or punctures. <br>
        <b>4-</b> When out riding, you may prefer to replace the tube with a new one and fix the damaged one later. <br>
        <b>5-</b> We'll walk you through the steps for the front and back wheel. <br><br>
        <b><a href="https://www.rei.com/learn/expert-advice/flat-tire.html">Click here to check more details</a></b> <br>
        <b><a href="https://www.youtube.com/watch?v=58STtUM-Wow">Click here to check a video</a></b>
        </p>

      </div>
    </ion-slide>
    
  </ion-slides>

  
</ion-content>
