<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="text" required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" type="password" required [(ngModel)]="password"></ion-input>
    </ion-item>
    <small ngDefaultControl name="error" style="margin-left: 20px; color: red;">{{error}}</small>
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" style="margin: 25px 50px" type="submit" color="danger" expand="block">Log In</ion-button>
        <a routerLink="/forgot-password" class="already">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>

  <span class="divider line one-line" style="margin-top: 0">or</span>

  <span class="already">You do not have an account?</span>
  <br>

  <ion-button style="margin: 0 50px" routerLink="/register" expand="block">Register</ion-button>

</ion-content>