<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/log-in"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
     </ion-item>
     <ion-item *ngIf="err" lines="none"><small><ion-label color="danger">{{err}}</ion-label></small></ion-item>
      <ion-button (click)="forgetPassword()" type="submit" color="danger" expand="block" style="margin: 25px 50px">Send</ion-button>
     
     <p style="margin: 15px 50px; display: block; text-align: center;">Please provide the username or email address that you used when you signed
      up.</p> 
  </form>
</ion-content>