<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title><ion-icon name="call-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 style="text-align: center;">BIKES SERVICE AND PARTS <br> COMMERCIAL GROUP</h1>
<p style="text-align: center;">
BLDG. 459, ROAD 45 <br> <br>
SITRA <br> <br>
KINGDOM OF BAHRAIN <br> <br>
Tel : (+973) 17xxxxxx; <br> Tel(2) : (+973) 17xxxxxx <br> <br>
Email : info@bike-serv.com <br> <br>
Career: hr@bike-serv.com; <br> <br>
Product Complaints: <br> safety@bike-serv.com <br>
</p>
</ion-content>
