<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-refresher slot="fixed"></ion-refresher>
      
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item button routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label> Home </ion-label>
        </ion-item>
        <ion-item button routerLink="/wallet" *ngIf="type=='user'">
          <ion-icon name="wallet-outline"></ion-icon>
          <ion-label> Wallet </ion-label>
        </ion-item>
        <ion-item button routerLink="/contactus" *ngIf="type=='user'">
          <ion-icon name="call-outline"></ion-icon>
          <ion-label> Contact us </ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label> Logout </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title><ion-icon name="home-outline"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <img src="..\assets\img\homebike.png"  style="width:60%;height:30%; display: block; margin-left: auto; margin-right: auto;"/> <br>
    <h2 style="text-align: center;">
      WELCOME DEAR <b style="text-transform:uppercase;">{{type}}</b></h2>
    <br><br><br>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5" *ngIf="type=='admin'">
          <ion-button expand="clear" routerLink="/items">
            <ion-icon name="pricetags-outline"></ion-icon> &nbsp; ITEMS
          </ion-button>
        </ion-col>
        <ion-col size="5" *ngIf="type=='user'">
          <ion-button expand="clear" routerLink="/itemspage/0">
            <ion-icon name="pricetags-outline"></ion-icon> &nbsp; ITEMS
          </ion-button>
        </ion-col>
        <ion-col size="5" *ngIf="type=='user'">
          <ion-button expand="clear" routerLink="/request-service">
            <ion-icon name="construct-outline"></ion-icon> &nbsp; SERVICE
          </ion-button>
        </ion-col>
        <ion-col size="5" *ngIf="type=='admin'">
          <ion-button expand="clear" routerLink="/admin-service">
            <ion-icon name="construct-outline"></ion-icon> &nbsp; SERVICE
          </ion-button>
        </ion-col>
      </ion-row>
      <div *ngIf="type=='user'">
      <br><br><br>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5">
          <ion-button expand="clear" routerLink="/itemspage/1">
            <ion-icon name="pricetag-outline"></ion-icon> &nbsp; OFFERS
          </ion-button>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="clear" routerLink="/selffix"> 
            <ion-icon name="hammer-outline"></ion-icon> &nbsp; SELF FIX
        </ion-button>
        </ion-col>
      </ion-row>
    </div>
      <br><br><br>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" *ngIf="type=='admin'">
          <ion-button expand="clear" routerLink="/admin-panel">
            <ion-icon name="construct-outline"></ion-icon> &nbsp; DASHBOARD
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="type=='user'">
          <ion-button expand="clear" routerLink="/contactus">
            <ion-icon name="call-outline"></ion-icon> &nbsp; CONTACT US
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <div *ngIf="loading" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); ">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

  </ion-content>
</div>
