<ion-header>
  <ion-toolbar>
    <ion-title>admin-panel</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">

    <ion-grid class="ongoing-orders box box1">
      <ion-row class="ion-justify-content-between">
        <ion-col size="9">
          <div>Ongoing services</div>
        </ion-col>
        <ion-col size="3">
          <div>8</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <ion-item>
      <ion-label>Show statistics for: </ion-label>
      <ion-select>
        <ion-select-option value="this-month">This month</ion-select-option>
        <ion-select-option value="this-year">This year</ion-select-option>
      </ion-select>
    </ion-item>

    <br>

    <ion-grid class="">
      <ion-row>
        <ion-col class="box1" size="6">Total Orders <br> <span style="font-size: xx-large;">10</span></ion-col>
        <ion-col class="box2" size="6">Total Revenue <br> <span style="font-size: xx-large;">BD10</span></ion-col>
      </ion-row>
    </ion-grid>


    <div class="box box1">
      <apx-chart [chart]="options1.chart" [series]="options1.series" [dataLabels]="options1.dataLabels"
        [stroke]="options1.stroke" [title]="options1.title" [xaxis]="options1.xaxis"></apx-chart>
    </div>

    <div class="box box2">
      <apx-chart [chart]="options4.chart" [series]="options4.series" [dataLabels]="options4.dataLabels"
        [stroke]="options4.stroke" [title]="options4.title" [xaxis]="options4.xaxis"></apx-chart>
    </div>

    <apx-chart [chart]='options2.chart' [series]="options2.series" [responsive]="options2.responsive"
      [title]="options2.title"></apx-chart>

    <apx-chart [chart]="options3.chart" [series]="options3.series" [dataLabels]="options3.dataLabels"
      [title]="options3.title" [colors]="options3.colors" [xaxis]="options3.xaxis"></apx-chart>
    <br>




  </div>


</ion-content>