<ion-header>
  <ion-toolbar>
    <ion-title>admin-panel</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">

    <ion-grid class="ongoing-orders box box1">
      <ion-row class="ion-justify-content-between">
        <ion-col size="9">
          <div>Ongoing services</div>
        </ion-col>
        <ion-col size="3">
          <div>8</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <ion-item>
      <ion-label>Show statistics for: </ion-label>
      <ion-select (ionChange)="changePeriod()" [(ngModel)]="showStatsFor">
        <ion-select-option value="thisMonth">This month</ion-select-option>
        <ion-select-option value="thisYear">This year</ion-select-option>
      </ion-select>
    </ion-item>

    <br>

    <ion-grid class="">
      <ion-row>
        <ion-col class="box1" size="6">Total Orders <br> <span style="font-size: xx-large;">10</span></ion-col>
        <ion-col class="box2" size="6">Total Revenue <br> <span style="font-size: xx-large;">BD10</span></ion-col>
      </ion-row>
    </ion-grid>


    <div class="box box1">
      <apx-chart [chart]="numOfOrders.chart" [series]="numOfOrders.series" [dataLabels]="numOfOrders.dataLabels"
        [stroke]="numOfOrders.stroke" [title]="numOfOrders.title" [xaxis]="numOfOrders.xaxis"></apx-chart>
    </div>

    <div class="box box2">
      <apx-chart [chart]="revenueChart.chart" [series]="revenueChart.series" [dataLabels]="revenueChart.dataLabels"
        [stroke]="revenueChart.stroke" [title]="revenueChart.title" [xaxis]="revenueChart.xaxis"></apx-chart>
    </div>

    <!--
    <apx-chart [chart]='options2.chart' [series]="options2.series" [responsive]="options2.responsive"
      [title]="options2.title"></apx-chart>
      -->

    <apx-chart [chart]="heatmapChart.chart" [series]="heatmapChart.series" [dataLabels]="heatmapChart.dataLabels"
      [title]="heatmapChart.title" [colors]="heatmapChart.colors" [xaxis]="heatmapChart.xaxis"></apx-chart>
    <br>




  </div>


</ion-content>