<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/log-in"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <!-- <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input name="fName" formControlName="fName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input name="lName" formControlName="lName" type="text" required></ion-input>
    </ion-item> -->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">
      <small><ion-label color="danger">Sorry, field email is required!</ion-label></small>
    </ion-item>
      
    <ion-item lines="none" *ngIf="registerForm.controls['email'].hasError('pattern') && registerForm.controls['email'].touched">
      <small><ion-label color="danger">Sorry, email has to be like example@gmail.com <br> Your email shouldn't have special characters.</ion-label></small>
    </ion-item>
      
<!--       
    <ion-item *ngIf="registerForm.controls['email'].hasError('pattern') && registerForm.controls['email'].touched">
      <small><ion-label color="danger">Email can't has more than one dot before @</ion-label></small>
    </ion-item> -->
      
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">
      <small><ion-label color="danger">Sorry, password  is required!</ion-label></small>
    </ion-item>
    
    <ion-item lines="none" *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched">
      <small><ion-label color="danger">Sorry, password  has to be at least 6 characters!</ion-label></small>
    </ion-item>
    

    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input (ionChange)="error = null" name="password1" formControlName="password1" type="password" required></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="registerForm.controls['password1'].hasError('required') && registerForm.controls['password1'].touched">
      <small><ion-label color="danger">Sorry, confirm password is required!</ion-label></small>
    </ion-item>
    
    <ion-item lines="none" *ngIf="registerForm.controls['password1'].hasError('minlength') && registerForm.controls['password1'].touched">
      <small><ion-label color="danger">Sorry, confirm password has to be at least 6 characters!</ion-label></small>
    </ion-item>

    <small ngDefaultControl name="error" style="margin-left: 20px; color: red;"><ion-label color="danger">{{error}}</ion-label></small>
    <ion-row>
      <ion-col>
        <ion-button type="submit" style="margin: 25px 50px" color="danger" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <span class="divider line one-line" style="margin-top: 0">or</span>

  <span class="already">Already a user?</span>
  <br>

  <ion-button style="margin: 0 50px" routerLink="/log-in" expand="block">Log In</ion-button>

</ion-content>