<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/log-in"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input name="fName" [(ngModel)]="fName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input name="lName" [(ngModel)]="lName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" [(ngModel)]="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input name="password1" [(ngModel)]="password1" type="password" required></ion-input>
    </ion-item>
    <small ngDefaultControl name="error" style="margin-left: 20px; color: red;">{{error}}</small>
    <ion-row>
      <ion-col>
        <ion-button (click)="register()" style="margin: 25px 50px" type="submit" color="danger" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <span class="divider line one-line" style="margin-top: 0">or</span>

  <span class="already">Already a user?</span>
  <br>

  <ion-button style="margin: 0 50px" routerLink="/log-in" expand="block">Log In</ion-button>

</ion-content>